aws_profile         = "n8n"
project_name       = "n8n-ollama"
environment        = "prod"
domain_name        = "n8n.example.com"
hosted_zone_name   = "example.com"
certificate_arn    = "arn:aws:acm:eu-west-1:948453117899:certificate/1508e766-5889-4a83-95d1-172617acdb65"
instance_type      = "t2.micro"
key_pair_name      = "n8n-admin"
data_volume_id     = "vol-xxxxxxxxxxxxxxxxx"
n8n_encryption_key = "replace-with-a-long-random-string"
n8n_timezone       = "Europe/Lisbon"
